/* Custom Header Styling */
.custom-header {
  background: linear-gradient(to right, #000428, #004e92); /* Gradient background */
  color: #ffffff; /* White text color */
  padding: 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-header h3 {
  margin: 0;
  font-size: 24px;
}

/* Custom Shadow */
.custom-shadow-border {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Custom Border */
.custom-solid-border {
  border-top: 0.1px solid #fab005; /* Matching border color */
}

/* Custom Text Color */
.custom-text-primary {
  color: #ffffff; /* White text color */
}

/* Remove Vertical Spacing */
.custom-no-vertical-spacing {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Custom Transaction Title Styling */
.transaction-title {
  background: linear-gradient(to right, #000428, #004e92); /* Gradient background */
  color: #ffffff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
}
